.pageWrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background: #151515;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  color: white;
  table-layout: fixed; /* <-- force fixed layout */
}

.table tr {
  border-bottom: 1px solid #4b5563;
  transition: background-color 0.2s ease;
}

.table tr:hover {
  background-color: #101010; /* subtle darker hover on rows */
}

.table th, .table td {
  text-align: left;
  padding: 10px 15px;
  font-size: 0.85rem;
  vertical-align: middle;
}

.idColumn {
  width: 20px;
}

.usernameColumn {
  width: 180px;
}

.input {
  width: 100%;
  max-width: 250px;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  padding: 0.4rem;
  border-radius: 6px;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid #10b981;
  box-sizing: border-box;
  font-family: 'NotoKR', sans-serif;
  background-color: #111827;
  color: white;
}

.input:focus {
  border: 1px solid #10b981;
}

.button, .editButton, .createButton, .deleteButton, .resetButton {
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 8px;

  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.createButton, .editButton {
  background-color: #059669;
  color: white;
}

.createButton:hover, .editButton:hover {
  background-color: #10b981;
}

.deleteButton, .resetButton {
  background-color: #9b2e2e;
  color: white;
}

.deleteButton:hover, .resetButton:hover {
  background-color: #ef4444;
}

.logoutButton {  
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
  background-color: #9b2e2e;
  color: white;
}

.logoutButton:hover {
  background-color: #ef4444;
}

.adminRow {
  background-color: #101010; /* distinguish admin row */
  border-bottom: 2px solid #202020;
}

.permissionsDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 450px;
}

.permissionItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 0.3rem;
  font-size: 0.85rem;
}

.adminBadge {
  margin-left: 0.5rem;
  padding: 2px 6px;
  font-size: 0.75rem;
  color: #10b981;
  background-color:   #1f2937;
  border-radius: 4px;
}

.table td button {
  margin-right: 0.5rem;
}

.actionButtons {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.table tr:hover .actionButtons {
  opacity: 1;
}