.pageWrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.card {
    background: #151515;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* stronger darker shadow */
}  