@font-face {
  font-family: 'NotoKR';
  src: url('/src/assets/fonts/NotoKR-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  scrollbar-width: none;
  overscroll-behavior: none;
  padding-top: 80px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NotoKR', sans-serif;
  background-color: #101010;
  background-image: url("/assets/images/cartographer.png");
}
